.tooltips{
    position: fixed;
    top: 8px;
    left: 8px;
    right: 8px;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    z-index: 100;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #00947e;
}
.tooltips.success {
    background-color: #06ae56;
}
.tooltips.info {
    background-color: #00947e;
}
.tooltips.danger {
    background-color: #fa5151;
}
.tooltips.warn {
    background-color: #ffc300;
}
.tip-enter-active {
    @apply transition-opacity ease-out duration-200;
}
.tip-leave-active {
    @apply transition-opacity ease-out duration-200;
}
.tip-enter-from, .tip-leave-to {
    @apply transform-gpu opacity-0;
}
.tip-enter-to, .tip-leave-from {
    @apply transform-gpu opacity-100;
}
